@{
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
           
                <h1>Drug Product Database</h1>
           
            <p>The DPD contains product specific information on drugs approved for use in Canada. The database is managed by Health Canada and includes human pharmaceutical and biological drugs, veterinary drugs, radiopharmaceutical drugs and disinfectant products. It contains approximately 47,000 products that are currently approved, marketed or cancelled.</p>
            <a href="./SearchDrugProduct">Search Drug Product</a> - 
            <a href="./Reference">Drug Product Database API Guide</a>
            <h2>Licence:</h2>

            <a href="http://open.canada.ca/en/open-government-licence-canada">Open Government Licence - Canada</a>


            <h2>Dataset Resources</h2>
            
            <table class="wb-tables table table-striped table-hover" data-wb-tables='{ &quot;bDeferRender&quot;: true, &quot;pageLength&quot;: 25 }'>
                <thead>
                    <tr>
                        <th scope="col">Resource Name</th>
                        <th class="text-center">Format</th><th></th>
                       
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Drug Product - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugproduct/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugproduct/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Active Ingredient - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/activeingredient/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/activeingredient/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Active Ingredient - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/activeingredient/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/activeingredient/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Companies - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/company/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/company/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Companies - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/company/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/company/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Drug Product - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugproduct/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugproduct/?lang=en&type=xml">XML</a></td>

                    </tr>
                    <tr>
                        <td>Form - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/form/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/form/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Form - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/form/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/form/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Route - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/route/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/route/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Route - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/route/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/route/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Schedule - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/schedule/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/schedule/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Schedule - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/schedule/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/schedule/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Status - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/status/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/status/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Status - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/status/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/status/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Packaging - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/packaging/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/packaging/?lang=en&type=xml">XML</a></td>
                    </tr>

                    <tr>
                        <td>Packaging - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/packaging/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/packaging/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Therapeutic Class - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/therapeuticclass/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/therapeuticclass/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Therapeutic Class - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/therapeuticclass/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/therapeuticclass/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Veterinary Species - English</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugveterinaryspecies/?lang=en&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugveterinaryspecies/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Veterinary Species - French</td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugveterinaryspecies/?lang=fr&type=json">JSON</a></td>
                        <td class="text-center"><a class="btn btn-default" href="./api/drugveterinaryspecies/?lang=fr&type=xml">XML</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>Developer Tools</h2>
            <p>The information on this page (the dataset metadata) is also available in JSON format</p>
            <a href="">Link to JSON format</a>


            <h2>Related Items</h2>
            <p>More to come</p>

</div>

       

    </section>
</div>

