<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Drug Product Database APIs</h1>
            </hgroup>
            <table class="wb-tables table table-striped table-hover">
                <tr>
                    <td>Get All Drug Product:</td>
                    <td> <a class="btn btn-default" href="/api/drugproduct/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="/api/drugproduct/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Drug Product Id = 100:</td>
                    <td> <a class="btn btn-default" href="http://dpdwebapi20151230113805.azurewebsites.net/api/drugproduct/100/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://dpdwebapi20151230113805.azurewebsites.net/api/drugproduct/100/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Active Ingredient:</td>
                    <td><a class="btn btn-default" href="http://dpdwebapi20151230113805.azurewebsites.net/api/activeingredient/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://dpdwebapi20151230113805.azurewebsites.net/api/activeingredient/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Active Ingredient = 1:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/activeingredient/1/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/activeingredient/1/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Companies:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/company/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/company/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Company - Company Code = 10107:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/company/10107?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/company/10107?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Route:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/route/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/route/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Route - Drug code = 100 (Topical):</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/route/100/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/route/100/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Status:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Status - Drug Code = 1000 (Discontinued...):</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Schedule - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Schedule - DrugCode - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                
                <tr>
                    <td>Get All Form - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Form - By To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Therapeutic Class - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Therapeutic Class - By Id - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Veterinary Species - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Veterinary Species - By Id - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Pharmaceutical - To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Pharmaceutical - By Id To come:</td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="http://localhost:51195/api/status/1000/?type=xml">XML</a></td>
                </tr>
                </table>

</div>
    </section>
   
       
</div>
